@charset "UTF-8";
@import url(./page2.css);
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-image: url(../icons/images/backgroundavif.avif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --primary-color: rgb(142, 65, 224);
  --added-color: white;
  --logoextract: #32ace3;
}
a {
  text-decoration: none;
}
@media all and (max-width: 600px) {
  body {
    background-color: black;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  body.loaded {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-image: url(../icons/images/backgroundavif.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .icon {
    width: 3.9rem;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8rem 1.5rem;
  }

  nav a img {
    width: 180px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    cursor: pointer;
    align-self: stretch;
  }
  .navbar > span {
    background-color: white;
    width: 25px;
    height: 3px;
  }
  .dropdown-menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: #09080f;
    background-image: url(../icons/images/mars.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: var(--added-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
    z-index: 1001;
  }

  .close-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 6px 10px;
    border-radius: 2px;
    color: white;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
  }
  .fa-x {
    font-size: 1.3rem;
  }

  body.noscroll {
    overflow: hidden;
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 10vh;
    list-style-type: none;
    gap: 3vh;
  }
  li > a {
    color: white;
    font-size: 2.8rem;
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    margin-left: 3vw;
  }

  li i {
    font-size: 1.2rem;
    background-color: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  hr {
    width: 100%;
  }
  .content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.3rem 1.5rem;
    margin-top: 8vh;
  }
  .content1 h2 {
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.6rem;
    font-weight: 900;
  }
  .content1 p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 5vh;
  }
  .defi {
    background: linear-gradient(95deg, #1097a3 60%, #5db6db 88.2%);
    background-clip: text;
  }
  .content1 a {
    background: linear-gradient(94.95deg, #a100ff -18.47%, #00a9b7 109.42%);
    font-size: 1.5rem;
    padding: 0.6rem 0.9rem;
    border-radius: 5px;
    color: white;
  }

  .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.3rem 1.5rem;
    margin-top: 3vh;
    background-image: url(../icons/images/background2.avif);
    background-position: 0%;
    background-size: contain;
    width: 100vw;
  }
  .content2 h2 {
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: bold;
  }
  .content2 p {
    color: white;
    margin-bottom: 5vh;
    padding: 0.2rem 0.9rem;
  }

  /* Circle container */
  .feature {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
  }

  /* Glowing Circle Effect */
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }

  /* Inner dot effect */
  .circle::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.682); /* White inner dot */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Different Glow Colors */
  .transparent {
    background: radial-gradient(circle, #a100ff 20%, #7a52c7 60%);
    box-shadow: 0 0 10px #7a52c7, 0 0 20px #a100ff;
  }

  .permissionless {
    background: radial-gradient(circle, #4b6cb7 20%, #7a52c7 60%);
    box-shadow: 0 0 10px #4b6cb7, 0 0 20px #4b6cb7;
  }

  .non-custodial {
    background: radial-gradient(circle, #a100ff 20%, #42a5f5 60%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px #42a5f5;
  }
  .non-custodial2 {
    background: radial-gradient(circle, #42a5f5 20%, #1ad0df 60%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px #42a5f5;
  }

  /* Styling the text */
  .feature-text1 {
    font-size: 18px;
    font-weight: bold;
    color: #a100ff;
  }
  .feature-text2 {
    font-size: 18px;
    font-weight: bold;
    color: #7243f5;
  }
  .feature-text3 {
    font-size: 18px;
    font-weight: bold;
    color: #3a95e9;
  }
  .feature-text4 {
    font-size: 18px;
    font-weight: bold;
    color: #1ad0df;
  }

  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.3rem 1rem;
    overflow: visible;
    background-color: black;
    width: 100%;
  }
  #paragraph-slider {
    overflow: visible;
    width: 100%;
  }

  .testimonials h2 {
    background: linear-gradient(95.41deg, #a100ff 80%, #7243f5 20%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
  }
  .splide__list,
  .splide__track {
    overflow: visible;
    width: 100%;
  }
  .comments {
    overflow: visible;
  }

  .splide__slide {
    color: white;
    width: 100%;
    /* margin: 10px; */
    text-align: center;
    font-size: 1.1rem;
    border-radius: 5px;
    text-shadow: 0.5px 0.5px 2px black;
  }
  .splide__slide img {
    width: 100%;
  }

  .fa-bullhorn {
    color: brown;
  }
  .robot {
    font-weight: 700;
  }
  .fa-handshake,
  .fa-bots {
    font-size: 0.9rem;
  }
  .fa-airbnb {
    font-size: 1.4rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0rem;
  }
  .footer p {
    color: white;
  }
  .privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 40px;
  }
  .privacy a {
    color: white;
  }
  .hrfooter {
    margin-top: 20vh;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 5vw;
  }
  .links a {
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .links i {
    font-size: 1.3rem;
  }

  /* Statistics Section */
  .statistics {
    text-align: center;
    margin-top: 4vh;
  }

  .statistics h3 {
    font-size: 24px;
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-weight: bold;
  }

  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .stat-item {
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    padding: 0px 10px;
    border-radius: 10px;
    width: 20vw;
    text-align: center;
  }
  .statitemmain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stat-item h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .statitemmain p {
    color: white;
    font-size: 14px;
  }

  .powered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    gap: 20px;
  }

  .powered h3 {
    background: linear-gradient(
      95.41deg,
      #a100ff -26.95%,
      #7243f5 15.01%,
      #3a95e9 64.1%,
      #1ad0df 88.2%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
  }
  .powered p {
    color: white;
  }
  .polygon {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .poly {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .dapps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dapp {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .dapp img {
    width: 40px;
  }
  .assets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-section {
    color: white;
    text-align: center;
    padding: 10px 20px;
  }

  .faq-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9b5cf6; /* Purple gradient effect */
  }

  .faq-container {
    width: 100%;
  }

  .faq-item {
    border-bottom: 1px solid #555;
    padding: 10px 0;
  }

  .faq-question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .faq-icon {
    font-size: 22px;
    transition: transform 0.3s ease;
  }

  .faq-answer {
    display: none;
    font-size: 16px;
    padding: 10px 15px;
    color: #ccc;
  }
}
